:root {
  --color-primary: #58C6A2;
  --color-secondary: #ee75d2;
  --color-tertiary: #deee75;
  --color-quaternary: #9375ee;
  --color-surface: black;
  --color-floor: #210c39;
  --color-axes-x: #deee75;
  --color-axes-y: #9375ee;
  --font-size: .1625rem;
}

:root {
  --tp-base-background-color: var(--color-surface);
  --tp-base-shadow-color: hsla(0, 0%, 0%, 0.2);
  --tp-button-background-color: var(--color-secondary);
  --tp-button-background-color-active: hsla(230, 7%, 85%, 1.00);
  --tp-button-background-color-focus: hsla(230, 7%, 80%, 1.00);
  --tp-button-background-color-hover: hsla(230, 7%, 75%, 1.00);
  --tp-button-foreground-color: hsla(230, 7%, 17%, 1.00);
  --tp-container-background-color: hsla(230, 7%, 75%, 0.10);
  --tp-container-background-color-active: hsla(230, 7%, 75%, 0.25);
  --tp-container-background-color-focus: hsla(230, 7%, 75%, 0.20);
  --tp-container-background-color-hover: hsla(230, 7%, 75%, 0.15);
  --tp-container-foreground-color: hsla(230, 7%, 75%, 1.00);
  --tp-groove-foreground-color: hsla(230, 7%, 75%, 0.10);
  --tp-input-background-color: hsla(230, 7%, 75%, 0.10);
  --tp-input-background-color-active: hsla(230, 7%, 75%, 0.25);
  --tp-input-background-color-focus: hsla(230, 7%, 75%, 0.20);
  --tp-input-background-color-hover: hsla(230, 7%, 75%, 0.15);
  --tp-input-foreground-color: var(--color-primary);
  --tp-label-foreground-color: hsla(230, 7%, 75%, 0.70);
  --tp-monitor-background-color: hsla(230, 7%, 0%, 0.20);
  --tp-monitor-foreground-color: hsla(230, 7%, 75%, 0.70);
}

@property --scene-rotate-x {
  syntax: "<angle>";
  inherits: true;
  initial-value: 0deg;
}
@property --scene-rotate-y {
  syntax: "<angle>";
  inherits: true;
  initial-value: 0deg;
}
@property --scene-rotate-z {
  syntax: "<angle>";
  inherits: true;
  initial-value: 0deg;
}
@property --scene-translate-x {
  syntax: "<length>";
  inherits: true;
  initial-value: 0;
}
@property --scene-translate-y {
  syntax: "<length>";
  inherits: true;
  initial-value: 0;
}
@property --scene-translate-z {
  syntax: "<length>";
  inherits: true;
  initial-value: 0;
}
.scene {
  display: grid;
  place-items: center;
  position: absolute;
  inset: 0;
  transform: rotateX(var(--scene-rotate-x, 0deg)) rotateY(var(--scene-rotate-y, 360deg)) rotateZ(var(--scene-rotate-z, 0deg)) translateX(var(--scene-translate-x, 0)) translateY(var(--scene-translate-y, 0)) translateZ(var(--scene-translate-z, 0));
  transform-style: preserve-3d;
  -webkit-animation: fly var(--scene-animation-duration) infinite linear;
          animation: fly var(--scene-animation-duration) infinite linear;
  pointer-events: none;
}

@-webkit-keyframes fly {
  from {
    --scene-translate-x: 0;
    --scene-translate-y: 0;
    --scene-translate-z: 0;
  }
  1% {
    --scene-translate-y: -6.5000rem;
    --scene-translate-z: 4.000rem;
  }
  2% {
    --scene-rotate-x: -13deg;
    --scene-rotate-z: -6deg;
    --scene-translate-y: -5.5000rem;
    --scene-translate-z: 24.000rem;
  }
  3% {
    --scene-rotate-x: -13deg;
    --scene-rotate-z: -12deg;
    --scene-rotate-y: 0deg;
    --scene-translate-x: 0rem;
    --scene-translate-y: -5.5000rem;
    --scene-translate-z: 40.000rem;
  }
  4% {
    --scene-rotate-x: -15deg;
    --scene-rotate-y: -23deg;
    --scene-rotate-z: 15deg;
    --scene-translate-x: 15.5000rem;
    --scene-translate-y: -10.5000rem;
    --scene-translate-z: 43.500rem;
  }
  5% {
    --scene-rotate-x: -15.65deg;
    --scene-rotate-y: -93.91deg;
    --scene-rotate-z: -7.83deg;
    --scene-translate-x: 64.375rem;
    --scene-translate-y: 2.1875rem;
    --scene-translate-z: -2.1875rem;
  }
  5.1% {
    --scene-rotate-x: -15.65deg;
    --scene-rotate-y: -93.91deg;
    --scene-rotate-z: -7.83deg;
    --scene-translate-x: 69.375rem;
    --scene-translate-y: -2.1875rem;
    --scene-translate-z: -2.1875rem;
  }
  7% {
    --scene-rotate-x: 0deg;
    --scene-rotate-y: -281.91deg;
    --scene-rotate-z: -46.83deg;
    --scene-translate-x: 17.375rem;
    --scene-translate-y: -23.1875rem;
    --scene-translate-z: 10.1875rem;
  }
  8% {
    --scene-rotate-x: -15.65deg;
    --scene-rotate-y: -273.26deg;
    --scene-rotate-z: 0deg;
    --scene-translate-x: -32.375rem;
    --scene-translate-y: -6.75rem;
    --scene-translate-z: 2.12rem;
  }
  to {
    --scene-translate-x: 0;
    --scene-translate-y: 0;
    --scene-translate-z: 0;
  }
}

@keyframes fly {
  from {
    --scene-translate-x: 0;
    --scene-translate-y: 0;
    --scene-translate-z: 0;
  }
  1% {
    --scene-translate-y: -6.5000rem;
    --scene-translate-z: 4.000rem;
  }
  2% {
    --scene-rotate-x: -13deg;
    --scene-rotate-z: -6deg;
    --scene-translate-y: -5.5000rem;
    --scene-translate-z: 24.000rem;
  }
  3% {
    --scene-rotate-x: -13deg;
    --scene-rotate-z: -12deg;
    --scene-rotate-y: 0deg;
    --scene-translate-x: 0rem;
    --scene-translate-y: -5.5000rem;
    --scene-translate-z: 40.000rem;
  }
  4% {
    --scene-rotate-x: -15deg;
    --scene-rotate-y: -23deg;
    --scene-rotate-z: 15deg;
    --scene-translate-x: 15.5000rem;
    --scene-translate-y: -10.5000rem;
    --scene-translate-z: 43.500rem;
  }
  5% {
    --scene-rotate-x: -15.65deg;
    --scene-rotate-y: -93.91deg;
    --scene-rotate-z: -7.83deg;
    --scene-translate-x: 64.375rem;
    --scene-translate-y: 2.1875rem;
    --scene-translate-z: -2.1875rem;
  }
  5.1% {
    --scene-rotate-x: -15.65deg;
    --scene-rotate-y: -93.91deg;
    --scene-rotate-z: -7.83deg;
    --scene-translate-x: 69.375rem;
    --scene-translate-y: -2.1875rem;
    --scene-translate-z: -2.1875rem;
  }
  7% {
    --scene-rotate-x: 0deg;
    --scene-rotate-y: -281.91deg;
    --scene-rotate-z: -46.83deg;
    --scene-translate-x: 17.375rem;
    --scene-translate-y: -23.1875rem;
    --scene-translate-z: 10.1875rem;
  }
  8% {
    --scene-rotate-x: -15.65deg;
    --scene-rotate-y: -273.26deg;
    --scene-rotate-z: 0deg;
    --scene-translate-x: -32.375rem;
    --scene-translate-y: -6.75rem;
    --scene-translate-z: 2.12rem;
  }
  to {
    --scene-translate-x: 0;
    --scene-translate-y: 0;
    --scene-translate-z: 0;
  }
}
@property --mask-size {
  syntax: "<percentage>";
  inherits: true;
  initial-value: 0%;
}
.face {
  display: grid;
  place-items: center;
  position: absolute;
  inset: 0;
  width: var(--tower-width);
  height: var(--tower-height);
  background: radial-gradient(at center, color-mix(in srgb, var(--color-primary), transparent 40%), rgba(0, 0, 0, 0.2));
  --border-color: color-mix(in srgb, var(--color-primary), transparent 60%);
  box-shadow: -1px -1px 1px var(--border-color);
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.5);
  overflow: clip;
  padding: 0.2rem;
}
.face .content {
  line-height: calc(var(--font-size) * 2);
  text-shadow: none;
  position: absolute;
  inset: 0.2rem;
}
.face .content .c1, .face .content .c2 {
  white-space: pre;
  position: absolute;
  inset: 0.25rem;
  -webkit-animation: scroll-text calc(var(--delay) * 1s) linear infinite;
          animation: scroll-text calc(var(--delay) * 1s) linear infinite;
  -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% var(--mask-size), 0% var(--mask-size));
          clip-path: polygon(0% 0%, 100% 0%, 100% var(--mask-size), 0% var(--mask-size));
}
.face .content .c2 {
  -webkit-animation-delay: calc(var(--delay) * .5s);
          animation-delay: calc(var(--delay) * .5s);
}
.face .content .c3 {
  position: absolute;
  left: 1.25rem;
  display: grid;
  place-items: center;
  color: color-mix(in srgb, var(--color-primary), white 50%);
  font-size: 0.2rem;
  top: 2.8rem;
  filter: saturate(0);
  transform: scaleX(-1);
}
.face .content:after {
  content: "";
  position: absolute;
  left: -1rem;
  right: -1rem;
  top: 0;
  height: 0.125rem;
  opacity: 0;
  background: var(--color-primary);
  box-shadow: 0 0 0.625rem rgba(255, 255, 255, 0.5);
  -webkit-animation: move-bottom-top 3s ease infinite;
          animation: move-bottom-top 3s ease infinite;
  -webkit-animation-delay: calc(var(--face-delay) * .5s);
          animation-delay: calc(var(--face-delay) * .5s);
}
@-webkit-keyframes move-bottom-top {
  from {
    transform: translateY(1rem);
    opacity: 0;
  }
  50% {
    transform: translateY(var(--tower-height));
    opacity: 1;
  }
  to {
    transform: translateY(0);
    opacity: 0;
  }
}
@keyframes move-bottom-top {
  from {
    transform: translateY(1rem);
    opacity: 0;
  }
  50% {
    transform: translateY(var(--tower-height));
    opacity: 1;
  }
  to {
    transform: translateY(0);
    opacity: 0;
  }
}
@-webkit-keyframes scroll-text {
  from {
    --mask-size: 50%;
  }
  50% {
    --mask-size: 100%;
  }
  51% {
    --mask-size: 0%;
  }
  to {
    --mask-size: 0%;
  }
}
@keyframes scroll-text {
  from {
    --mask-size: 50%;
  }
  50% {
    --mask-size: 100%;
  }
  51% {
    --mask-size: 0%;
  }
  to {
    --mask-size: 0%;
  }
}
.face.front {
  transform: translateZ(var(--width-half));
}
.face.back {
  transform: translateZ(var(--width-half-negative)) rotateY(180deg);
}
.face.top {
  height: var(--tower-width);
  transform: translateY(var(--width-half-negative)) rotateX(90deg);
  white-space: pre;
  font-family: monospace;
}
.face.bottom {
  height: var(--tower-width);
  transform: translateY(var(--tower-height)) translateZ(var(--width-half)) rotateX(-90deg);
  box-shadow: 0 0 10rem color-mix(in srgb, var(--color-primary), rgba(255, 255, 255, 0.5) 20%), 0 0 1rem color-mix(in srgb, var(--color-primary), rgba(255, 255, 255, 0.5) 20%), 0 0 4rem color-mix(in srgb, var(--color-primary), transparent 80%);
  background: transparent;
  transform-origin: top;
}
.face.right {
  transform: translateX(var(--width-half)) rotateY(90deg);
}
.face.left {
  transform: translateX(var(--width-half-negative)) rotateY(-90deg);
}

.face {
  font-size: var(--font-size);
}

@-webkit-keyframes fade-in-out {
  from {
    opacity: 1;
  }
  50% {
    opacity: 0.8;
  }
  51% {
    opacity: 0;
  }
  to {
    opacity: 0;
  }
}

@keyframes fade-in-out {
  from {
    opacity: 1;
  }
  50% {
    opacity: 0.8;
  }
  51% {
    opacity: 0;
  }
  to {
    opacity: 0;
  }
}
@-webkit-keyframes fade-in-out-2 {
  from {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  55% {
    opacity: 0.8;
  }
  to {
    opacity: 1;
  }
}
@keyframes fade-in-out-2 {
  from {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  55% {
    opacity: 0.8;
  }
  to {
    opacity: 1;
  }
}
.tower {
  --width-half: calc(var(--tower-width) / 2);
  --height-half: calc(var(--tower-height) / 2);
  --width-half-negative: calc(var(--width-half) * -1);
  --height-half-negative: calc(var(--height-half) * -1);
  transform-style: preserve-3d;
  transform: translateX(var(--x)) translateY(calc(var(--tower-height) * -1)) translateZ(calc(var(--y) + var(--width-half)));
  pointer-events: all;
  position: absolute;
}
.tower:nth-child(1) {
  --i: 0;
  --x: calc((-2) * var(--tower-width) - (var(--tower-gap) * 2) + (var(--tower-gap) / 2) + (var(--tower-gap) * 0));
  --y: calc((-2) * var(--tower-width) - (var(--tower-gap) * 2) + (var(--tower-gap) / 2) + (var(--tower-gap) * 0));
}
.tower:nth-child(2) {
  --i: 1;
  --x: calc((-2) * var(--tower-width) - (var(--tower-gap) * 2) + (var(--tower-gap) / 2) + (var(--tower-gap) * 0));
  --y: calc((-1) * var(--tower-width) - (var(--tower-gap) * 2) + (var(--tower-gap) / 2) + (var(--tower-gap) * 1));
}
.tower:nth-child(3) {
  --i: 2;
  --x: calc((-2) * var(--tower-width) - (var(--tower-gap) * 2) + (var(--tower-gap) / 2) + (var(--tower-gap) * 0));
  --y: calc((0) * var(--tower-width) - (var(--tower-gap) * 2) + (var(--tower-gap) / 2) + (var(--tower-gap) * 2));
}
.tower:nth-child(4) {
  --i: 3;
  --x: calc((-2) * var(--tower-width) - (var(--tower-gap) * 2) + (var(--tower-gap) / 2) + (var(--tower-gap) * 0));
  --y: calc((1) * var(--tower-width) - (var(--tower-gap) * 2) + (var(--tower-gap) / 2) + (var(--tower-gap) * 3));
}
.tower:nth-child(5) {
  --i: 4;
  --x: calc((-1) * var(--tower-width) - (var(--tower-gap) * 2) + (var(--tower-gap) / 2) + (var(--tower-gap) * 1));
  --y: calc((-2) * var(--tower-width) - (var(--tower-gap) * 2) + (var(--tower-gap) / 2) + (var(--tower-gap) * 0));
}
.tower:nth-child(6) {
  --i: 5;
  --x: calc((-1) * var(--tower-width) - (var(--tower-gap) * 2) + (var(--tower-gap) / 2) + (var(--tower-gap) * 1));
  --y: calc((-1) * var(--tower-width) - (var(--tower-gap) * 2) + (var(--tower-gap) / 2) + (var(--tower-gap) * 1));
}
.tower:nth-child(7) {
  --i: 6;
  --x: calc((-1) * var(--tower-width) - (var(--tower-gap) * 2) + (var(--tower-gap) / 2) + (var(--tower-gap) * 1));
  --y: calc((0) * var(--tower-width) - (var(--tower-gap) * 2) + (var(--tower-gap) / 2) + (var(--tower-gap) * 2));
}
.tower:nth-child(8) {
  --i: 7;
  --x: calc((-1) * var(--tower-width) - (var(--tower-gap) * 2) + (var(--tower-gap) / 2) + (var(--tower-gap) * 1));
  --y: calc((1) * var(--tower-width) - (var(--tower-gap) * 2) + (var(--tower-gap) / 2) + (var(--tower-gap) * 3));
}
.tower:nth-child(9) {
  --i: 8;
  --x: calc((0) * var(--tower-width) - (var(--tower-gap) * 2) + (var(--tower-gap) / 2) + (var(--tower-gap) * 2));
  --y: calc((-2) * var(--tower-width) - (var(--tower-gap) * 2) + (var(--tower-gap) / 2) + (var(--tower-gap) * 0));
}
.tower:nth-child(10) {
  --i: 9;
  --x: calc((0) * var(--tower-width) - (var(--tower-gap) * 2) + (var(--tower-gap) / 2) + (var(--tower-gap) * 2));
  --y: calc((-1) * var(--tower-width) - (var(--tower-gap) * 2) + (var(--tower-gap) / 2) + (var(--tower-gap) * 1));
}
.tower:nth-child(11) {
  --i: 10;
  --x: calc((0) * var(--tower-width) - (var(--tower-gap) * 2) + (var(--tower-gap) / 2) + (var(--tower-gap) * 2));
  --y: calc((0) * var(--tower-width) - (var(--tower-gap) * 2) + (var(--tower-gap) / 2) + (var(--tower-gap) * 2));
}
.tower:nth-child(12) {
  --i: 11;
  --x: calc((0) * var(--tower-width) - (var(--tower-gap) * 2) + (var(--tower-gap) / 2) + (var(--tower-gap) * 2));
  --y: calc((1) * var(--tower-width) - (var(--tower-gap) * 2) + (var(--tower-gap) / 2) + (var(--tower-gap) * 3));
}
.tower:nth-child(13) {
  --i: 12;
  --x: calc((1) * var(--tower-width) - (var(--tower-gap) * 2) + (var(--tower-gap) / 2) + (var(--tower-gap) * 3));
  --y: calc((-2) * var(--tower-width) - (var(--tower-gap) * 2) + (var(--tower-gap) / 2) + (var(--tower-gap) * 0));
}
.tower:nth-child(14) {
  --i: 13;
  --x: calc((1) * var(--tower-width) - (var(--tower-gap) * 2) + (var(--tower-gap) / 2) + (var(--tower-gap) * 3));
  --y: calc((-1) * var(--tower-width) - (var(--tower-gap) * 2) + (var(--tower-gap) / 2) + (var(--tower-gap) * 1));
}
.tower:nth-child(15) {
  --i: 14;
  --x: calc((1) * var(--tower-width) - (var(--tower-gap) * 2) + (var(--tower-gap) / 2) + (var(--tower-gap) * 3));
  --y: calc((0) * var(--tower-width) - (var(--tower-gap) * 2) + (var(--tower-gap) / 2) + (var(--tower-gap) * 2));
}
.tower:nth-child(16) {
  --i: 15;
  --x: calc((1) * var(--tower-width) - (var(--tower-gap) * 2) + (var(--tower-gap) / 2) + (var(--tower-gap) * 3));
  --y: calc((1) * var(--tower-width) - (var(--tower-gap) * 2) + (var(--tower-gap) / 2) + (var(--tower-gap) * 3));
}

@property --light {
  syntax: "<length>";
  inherits: true;
  initial-value: 0;
}
.light1 {
  position: absolute;
  --glow: color-mix(in srgb, var(--color-primary), rgba(255,255,255,.2) 70%);
  background: var(--color-primary);
  box-shadow: -2px -2px 5px var(--glow), 0 0 15px var(--glow), 2px 2px 5px var(--glow);
  border-radius: 100%;
  transform-style: preserve-3d;
  opacity: 0;
  -webkit-animation: light 4s ease infinite;
          animation: light 4s ease infinite;
  height: 6rem;
  width: 0.25rem;
  transform: translateX(1rem) translateY(calc(var(--floor-translate-y, 0rem) - .1rem)) translateZ(calc(-20rem + var(--light))) rotateX(90deg);
}

.light2 {
  position: absolute;
  --glow: color-mix(in srgb, var(--color-primary), rgba(255,255,255,.2) 70%);
  background: var(--color-primary);
  box-shadow: -2px -2px 5px var(--glow), 0 0 15px var(--glow), 2px 2px 5px var(--glow);
  border-radius: 100%;
  transform-style: preserve-3d;
  opacity: 0;
  -webkit-animation: light 4s ease infinite;
          animation: light 4s ease infinite;
  height: 0.15rem;
  width: 3rem;
  transform: translateX(calc(-20rem + var(--light))) translateY(calc(var(--floor-translate-y, 0rem) - .1rem)) translateZ(12rem) rotateX(90deg);
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
  --max: 55rem;
}

.light3 {
  position: absolute;
  --glow: color-mix(in srgb, var(--color-primary), rgba(255,255,255,.2) 70%);
  background: var(--color-primary);
  box-shadow: -2px -2px 5px var(--glow), 0 0 15px var(--glow), 2px 2px 5px var(--glow);
  border-radius: 100%;
  transform-style: preserve-3d;
  opacity: 0;
  -webkit-animation: light 4s ease infinite;
          animation: light 4s ease infinite;
  height: 0.15rem;
  width: 4rem;
  transform: translateX(calc(-20rem + var(--light))) translateY(calc(var(--floor-translate-y, 0rem) - .1rem)) translateZ(-1rem) rotateX(90deg);
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
  -webkit-animation-duration: 6s;
          animation-duration: 6s;
  --max: 65rem;
}

@-webkit-keyframes light {
  from {
    --light: 0;
    opacity: 0;
  }
  2% {
    opacity: 1;
  }
  10% {
    --light: var(--max, 40rem);
    opacity: 0;
  }
  11% {
    opacity: 0;
  }
  to {
    opacity: 0;
    --light: var(--max, 40rem);
  }
}

@keyframes light {
  from {
    --light: 0;
    opacity: 0;
  }
  2% {
    opacity: 1;
  }
  10% {
    --light: var(--max, 40rem);
    opacity: 0;
  }
  11% {
    opacity: 0;
  }
  to {
    opacity: 0;
    --light: var(--max, 40rem);
  }
}
.floor {
  position: absolute;
  inset: var(--floor-size, -50rem);
  background: linear-gradient(to right, var(--color-axes-x), var(--color-axes-x)) no-repeat center calc(50% - var(--axes-width) / 2)/auto var(--axes-width), linear-gradient(to bottom, var(--color-axes-z), var(--color-axes-z)) no-repeat center calc(50% - var(--axes-width) / 2)/var(--axes-width) auto, radial-gradient(at center, transparent, black var(--floor-spotlight, 60%)), repeating-linear-gradient(0deg, var(--color-floor) 0, var(--color-floor) 0.2rem, transparent 0.2rem, transparent var(--floor-tile-size, 1rem)), repeating-linear-gradient(90deg, var(--color-floor) 0, var(--color-floor) 0.2rem, transparent 0.2rem, transparent var(--floor-tile-size, 1rem));
  transform-style: preserve-3d;
  transform: rotateX(var(--floor-rotate-x, 90deg)) translateZ(var(--floor-translate-y, 0rem));
  pointer-events: all;
}
.floor:after {
  pointer-events: none;
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(to right, var(--color-axes-y, 1px), var(--color-axes-y, 1px)) no-repeat center calc(50% - var(--axes-width) / 2)/auto var(--axes-width);
  -webkit-backface-visibility: visible;
          backface-visibility: visible;
  transform: rotateZ(90deg) rotateY(90deg);
  transform-style: preserve-3d;
  -webkit-animation: rotate-axe-y var(--scene-animation-duration) infinite linear;
          animation: rotate-axe-y var(--scene-animation-duration) infinite linear;
}
@-webkit-keyframes rotate-axe-y {
  to {
    transform: rotateZ(360deg) rotateY(90deg);
  }
}
@keyframes rotate-axe-y {
  to {
    transform: rotateZ(360deg) rotateY(90deg);
  }
}

body {
  width: 100vw;
  height: 100vh;
  display: grid;
  place-items: center;
  background: var(--color-surface);
  margin: 0;
  color: var(--color-primary);
  perspective: var(--perspective, 800px);
  font-family: Silkscreen, "SF Mono", "Courier New", "monospace";
  overflow: clip;
  pointer-events: all;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
body:after {
  content: "";
  position: absolute;
  background: url(https://assets.codepen.io/907471/noise.svg);
  mix-blend-mode: lighten;
  inset: 0;
  pointer-events: none;
  opacity: 0.5;
  filter: invert(1) brightness(0.1);
  z-index: var(--labs-sys-z-noise);
}

a.labs-follow-me-twitter {
  position: absolute;
  left: auto;
  right: auto;
  display: grid;
  place-items: center;
  top: unset;
  bottom: 4rem;
  -webkit-backdrop-filter: blur(1rem);
          backdrop-filter: blur(1rem);
}

* {
  box-sizing: border-box;
}